<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Acme&family=Bangers&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/styles/editorStyle.css" />
    <title>Edit Book</title>
  </head>
  <body>
    <nav class="container-fluid mb-3 align-middle">
      <div class="row d-flex align-items-center">
        <h2 class="col">Reading List</h2>
        <div class="col-6"></div>
        <a href="/" class="col go-back-btn">Go back</a>
      </div>
    </nav>
    <div class="container">
      <form>
        <div class="container">
          <div class="title">
            <h1>Edit Book</h1>
          </div>

          <div class="container user-inputs">
            <fieldset class="row justify-content-center">
              <input type="button" value="Submit" class="add" />
              <input type="button" value="Delete" class="delete" />
            </fieldset>
            <fieldset
              class="row justify-content-center d-flex align-items-baseline"
            >
              <label for="book-title" class="col-4">Book Title</label>
              <input type="text" id="book-title" class="user-selector col-5" />
            </fieldset>

            <fieldset
              class="row justify-content-center d-flex align-items-baseline"
            >
              <label for="book-author" class="col-4">Author</label>
              <input type="text" id="book-author" class="user-selector col-5" />
            </fieldset>

            <fieldset
              class="row justify-content-center d-flex align-items-baseline"
            >
              <label for="book-status" class="col-4">Status</label>
              <select id="book-status" class="user-selector col-5">
                <option value="" selected disabled hidden>
                  Select status....
                </option>
                <option value="reading">Reading</option>
                <option value="completed">Completed</option>
              </select>
            </fieldset>

            <fieldset
              class="row justify-content-center d-flex align-items-baseline"
            >
              <label for="book-rating" class="col-4">Rating</label>
              <select id="book-rating" class="user-selector col-3">
                <option value="" selected disabled hidden>
                  Select rating....
                </option>
                <option value="1">(1) Appalling</option>
                <option value="2">(2) Horrible</option>
                <option value="3">(3) Very Bad</option>
                <option value="4">(4) Bad</option>
                <option value="5">(5) Average</option>
                <option value="6">(6) Fine</option>
                <option value="7">(7) Good</option>
                <option value="8">(8) Very Good</option>
                <option value="9">(9) Great</option>
                <option value="10">(10) Masterpiece</option>
              </select>
              <p class="col-2">/ 10</p>
            </fieldset>
          </div>
        </div>
      </form>
    </div>
    <script src="../static/editor.js" type="module"></script>
  </body>
</html>
