<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Acme&family=Bangers&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/styles/indexStyle.css" />
    <title>Reading List</title>
  </head>
  <body>
    <nav class="container-fluid align-middle">
      <div class="row d-flex align-items-center">
        <a
          href="#"
          class="col nav-btn d-flex justify-content-center flex-column"
          >Go to github page</a
        >
        <div class="col-6"></div>
        <a
          href="#"
          class="col nav-btn d-flex justify-content-center flex-column"
          >Back to top</a
        >
      </div>
    </nav>
    <header class="container-fluid m-0 p-0">
      <div class="title-wrapper text-center">
        <h1 class="title">Reading List</h1>
        <h2 class="subtitle mb-0 pb-5">
          Add, edit and delete the books you read!
        </h2>
      </div>
      <div class="row header-deco">
        <div class="header-deco-triangle"></div>
      </div>
    </header>

    <form action="/edit" class="d-flex justify-content-center p-5">
      <input type="submit" value="Add Book" class="btn btn-danger p-3 w-25" />
    </form>

    <div
      class="
        book-list-wrapper
        table-responsive
        d-flex
        justify-content-center
        p-3
      "
    >
      <table class="book-list table table-bordered table-hover table-sm">
        <caption class="book-count">
          List of books
        </caption>
        <thead class="thead-dark">
          <tr class="categories-row">
            <!--  -->
            <th scope="col">1</th>
            <th scope="col">2</th>
            <th scope="col">3</th>
            <th scope="col">4</th>
            <th scope="col">5</th>
          </tr>
        </thead>

        <tbody class="list-body">
          <!--  -->
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>
              <button type="submit" class="btn btn-outline-danger w-50">
                Edit
              </button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>
              <button type="submit" class="btn btn-outline-danger w-50">
                Edit
              </button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>
              <button type="submit" class="btn btn-outline-danger w-50">
                Edit
              </button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>
              <button type="submit" class="btn btn-outline-danger w-50">
                Edit
              </button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>
              <button type="submit" class="btn btn-outline-danger w-50">
                Edit
              </button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>
              <button type="submit" class="btn btn-outline-danger w-50">
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- <script src="../static/index.js" type="module"></script> -->
  </body>
</html>
