:root {
  --main-color-base: #f83920;
  --main-color-shadow: #cd1c05;
  --main-color-light: #f89220;
  --white: #fcf3e8;
  --white-shadow: #f0d0ab;
  --black: #16000c;
  --text-font: 'Acme', sans-serif;
  --title-font: 'Bangers', cursive;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-image: var(--white);
  font-family: var(--text-font);
  color: var(--black);
}

/* Navbar */

nav.container-fluid {
  background: var(--main-color-base);
}

nav.container-fluid h2,
.nav-btn {
  color: var(--white);
  padding: 0.5rem;
}

.nav-btn:hover {
  color: var(--white);
  text-decoration: none;
}

.nav-btn::after {
  display: block;
  content: '';
  height: 3px;
  width: 0%;
  background: var(--white);
  transition: 500ms;
}

.nav-btn:hover:after {
  width: 30%;
  transition: 500ms;
}

/* Form */

form {
  border: 2px solid var(--main-color-shadow);
  border-radius: 20px;
}

/* Buttons */

.btn {
  font-family: var(--title-font);
}

.btn-danger {
  background-color: var(--main-color-base);
  color: var(--white);
}

.btn-danger:hover {
  background-color: var(--main-color-light);
  border-color: var(--main-color-light);
}

.btn-outline-danger:hover {
  background-color: var(--main-color-base);
  border-color: var(--main-color-base);
}

/* body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

nav.container-fluid {
  background: rgb(53, 51, 197);
}

.go-back-btn {
  color: white;
}

.go-back-btn:hover {
  color: white;
  text-decoration: none;
}

.go-back-btn:after {
  display: block;
  content: '';
  height: 3px;
  width: 0%;
  background: white;
  transition: 500ms;
}

.go-back-btn:hover:after {
  width: 30%;
  transition: 500ms;
}

form {
  border: 1px solid black;
  height: 70vh;
}

form > * {
  height: 100%;
}

.title > * {
  text-align: center;
}

.user-inputs > * {
  margin: 1rem;
}
 */
