body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

nav.container-fluid {
  background: rgb(53, 51, 197);
}

.go-back-btn {
  color: white;
}

.go-back-btn:hover {
  color: white;
  text-decoration: none;
}

.go-back-btn:after {
  display: block;
  content: '';
  height: 3px;
  width: 0%;
  background: white;
  transition: 500ms;
}

.go-back-btn:hover:after {
  width: 30%;
  transition: 500ms;
}

form {
  border: 1px solid black;
  height: 70vh;
}

form > * {
  height: 100%;
}

.title > * {
  text-align: center;
}

.user-inputs > * {
  margin: 1rem;
}
