:root {
  --main-color-base: #f83920;
  --main-color-shadow: #cd1c05;
  --main-color-light: #f89220;
  --white: #fcf3e8;
  --white-shadow: #f0d0ab;
  --black: #16000c;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(var(--white), var(--white-shadow));
}

/* Navbar */

nav.container-fluid {
  background: var(--main-color-base);
}

.nav-btn {
  color: var(--white);
  padding: 0.5rem;
}

.nav-btn:hover {
  color: var(--white);
  text-decoration: none;
}

.nav-btn::after {
  display: block;
  content: '';
  height: 3px;
  width: 0%;
  background: var(--white);
  transition: 500ms;
}

.nav-btn:hover:after {
  width: 30%;
  transition: 500ms;
}

/* Header */

/* nav.container-fluid {
  background: rgb(53, 51, 197);
}

.go-back-top-btn {
  color: white;
}

.go-back-top-btn:hover {
  color: white;
  text-decoration: none;
}

.go-back-top-btn::after {
  display: block;
  content: '';
  height: 3px;
  width: 0%;
  background: white;
  transition: 500ms;
}

.go-back-top-btn:hover:after {
  width: 30%;
  transition: 500ms;
}

.title.main {
  background: rgb(53, 51, 197);
}

.title > * {
  text-align: center;
}
 */
