body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

nav.container-fluid {
  background: rgb(53, 51, 197);
}

.go-back-top-btn {
  color: white;
}

.go-back-top-btn:hover {
  color: white;
  text-decoration: none;
}

.go-back-top-btn::after {
  display: block;
  content: '';
  height: 3px;
  width: 0%;
  background: white;
  transition: 500ms;
}

.go-back-top-btn:hover:after {
  width: 30%;
  transition: 500ms;
}

.title.main {
  background: rgb(53, 51, 197);
}

.title > * {
  text-align: center;
}
