:root {
  --main-color-base: #f83920;
  --main-color-shadow: #cd1c05;
  --main-color-light: #f89220;
  --white: #fcf3e8;
  --white-shadow: #f0d0ab;
  --black: #16000c;
  --text-font: 'Acme', sans-serif;
  --title-font: 'Bangers', cursive;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-image: /* linear-gradient(var(--white), var(--white-shadow)); */ var(
    --white
  );
  font-family: var(--text-font);
}

/* Navbar */

nav.container-fluid {
  background: var(--main-color-base);
}

.nav-btn {
  color: var(--white);
  padding: 0.5rem;
}

.nav-btn:hover {
  color: var(--white);
  text-decoration: none;
}

.nav-btn::after {
  display: block;
  content: '';
  height: 3px;
  width: 0%;
  background: var(--white);
  transition: 500ms;
}

.nav-btn:hover:after {
  width: 30%;
  transition: 500ms;
}

/* Header */

header {
  width: 100vw;
}

.title-wrapper {
  background: var(--main-color-base);
  font-family: var(--title-font);
}

.header-deco {
  width: 100%;
}

.header-deco-triangle {
  /* generate the shape using left,right and bottom borders */
  background: var(--main-color-base);
  border-color: transparent var(--main-color-base) var(--white-shadow)
    var(--main-color-base);
  border-style: solid;
  /* make it span the entire width. 50 / 50 goes outside the windows */
  border-width: 0 49.93vw 17vw 49.93vw;
  height: 0;
  width: 0;

  -webkit-box-shadow: 0px 25px 17px -11px var(--white-shadow);
  box-shadow: 0px 25px 17px -11px var(--white-shadow);
}

/* Buttons */

.btn {
  font-family: var(--title-font);
}

.btn-danger {
  background-color: var(--main-color-base);
}

.btn-danger:hover {
  background-color: var(--main-color-light);
  border-color: var(--main-color-light);
}

.btn-outline-danger:hover {
  background-color: var(--main-color-base);
  border-color: var(--main-color-base);
}
