body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

nav.container-fluid {
  background: rgb(53, 51, 197);
}

form {
  border: 1px solid black;
  height: 70vh;
}

form > * {
  height: 100%;
}

.title > h1 {
  text-align: center;
}

.user-inputs > * {
  margin: 1rem;
}
